.align-title {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.bg-img {
  position: relative;
  top: -122px;
}

.caption {
  background: rgba(0, 0, 0, 0.479);
  position: relative;
  top: 133px;
  padding: 40px 20px;
  color: #fff;
  text-transform: capitalize;
  width: 40%;
  text-align: center;
  z-index: 1;
}

.img-container {
  padding: 50px 144px;
  h6 {
    position: relative;
    color: white;
    z-index: 1;
    top: -14.5vh;
    text-align: center;
    font-weight: 600;
  }
  img {
    cursor: pointer;
    filter: brightness(60%);
  }
}

.para {
  text-align: center;
  position: relative;
  top: -70px;
}

@media only screen and (min-device-width: 1290px) and (max-device-width: 1440px) and (orientation: landscape) {
  .img-container {
    padding: 55px 74px;
    h6 {
      top: -12vh;
    }
  }
}

@media only screen and (min-device-width: 310px) and (max-device-width: 767px) {
  .bg-img {
    top: -40px;
  }
  .caption {
    top: 24px;
    padding: 8px 5px;
    width: 72%;
  }
  .mob-height {
    height: 212px;
    h3 {
      font-size: 10px;
    }
  }
  .bgBar {
    font-size: 10px;
    top: -7vh;
    padding: 0;
  }
  .para {
    padding-left: 16px;
    padding-right: 16px;
  }
  .img-container {
    margin-left: 1px;
    margin-right: 10px;
    width: 100%;
    padding: 0;
    img {
      width: 100%;
    }
  }
  .caption {
    h3 {
      font-size: 16px;
    }
  }
  .consult-text{
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 553px) and (max-device-width: 767px) {
  .para {
    top: -5px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 383px) {
  .mob-height {
    height: 136px;
  }
  .para {
    top: -15px;
  }
  .caption {
    top: 30px;
  }

}
@media only screen and (min-device-width: 384px) and (max-device-width: 460px) {
  .caption {
    top: 35px;
  }

}
@media only screen and (min-device-width: 467px) and (max-device-width: 590px) {
  .caption {
    top: 50px;
  }

}
