<div>
  <div class="align-title">
    <div class="caption">
      <h3>{{title}}</h3>
    </div>
  </div>
  <img [src]="_imgPath.getFilePath(bannerImg)" class="d-block w-100 bg-img" alt="..." />
</div>
<div class="main container">
  <p>
    We’re making a positive irreversible change in the world of healthcare.
    Together.
  </p>
  <p>
    If you feel you are the right fit and want to be part of the PODS family,
    send us your resume at
  </p>
  <span style="color: #0680f9">info@podshealth.com</span>
</div>

<div class="main2">
  <div class="col-md-12 text-center">
    <h2 class="heding mb-4 pd-l_r heading" style="color: #0680f9">Jobs opneing</h2>
  </div>
  <div class="expansion-container">
    <mat-accordion>
      <mat-expansion-panel
        class="panel"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="header-panel">
          <mat-panel-title>
            Procurement and Logistic Officer (Location: West Vancouver)
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="padding: 24px">
          <p>
            Pods Health Inc. is one of the leading companies in the supply of
            Personal Protective Equipment (PPE) and other medical products and
            is located in West Vancouver.
          </p>
          <p>
            The company is currently looking for a reliable Procurement and
            Logistic Officer for its workplace.
          </p>
          <p>
            The Procurement and Logistic Officer will report directly to the CEO
            of the Company, with a dotted-line reporting to the Company’s Head
            of Legal & Financial Compliance who is based in Switzerland.
          </p>
          <p>
            The ideal candidate will be responsible to identify and evaluate
            suppliers, arrange for transportation of purchase goods, identify,
            and develop strategies for addressing logistical barriers, monitor
            use of materials and resources and ensure quality record keeping.
            He/She will be competent in prioritizing, will be self-motivated and
            trustworthy and contributes to driving sustainable growth.
          </p>
          <strong>Responsibilities</strong>
          <ul>
            <li>
              Carry out packing, crating, and warehousing, and storage duties in
              preparation for site specific program and shipment
            </li>
            <li>
              Estimate and establish cost parameters and budgets for purchases.
            </li>
            <li>
              Responsible for tracking, receiving, and stocking all items
              ordered
            </li>
            <li>Program the final inventory of materials prior to shipment.</li>
            <li>
              Manage and maintain inventory of materials to operating levels to
              avoid supply.
            </li>
            <li>
              Responsible for supervising and accounting for an inventory.
            </li>
            <li>
              Carry out annual inventory of PPE and medical supplies and provide
              other report in his/her area of responsibility.
            </li>
            <li>
              Maintain records of purchases, pricing and other important data.
            </li>
            <li>
              Review and analyze all vendors/suppliers, supply and price
              options.
            </li>
            <li>Negotiate the best deal for pricing and supply contracts.</li>
            <li>
              Ensure that the products and the supplies are of high quality.
            </li>
            <li>
              Develop plans for purchasing PPE and other medical supplies.
            </li>
            <li>Any other ad-hoc duties, as assigned</li>
          </ul>
          <strong>Requirements</strong>
          <ul>
            <li>
              Proven experience as a Procurement and Logistic Officer or any
              other relevant role.
            </li>
            <li>Outstanding communication and interpersonal abilities.</li>
            <li>
              Ability to handle highly confidential information appropriately.
            </li>
            <li>Excellent oral and written communication skills.</li>
            <li>
              Ability to plan, prioritize, and manage their own activities and
              office workflow under tight deadlines.
            </li>
            <li>
              Must be flexible with schedule due to special projects that could
              be assigned.
            </li>
            <li>
              Ability to collaborate with individuals at various levels of the
              organization.
            </li>
            <li>Excellent time management and organization skills.</li>
            <li>
              Good analytical skills and the ability to assess moderately
              complex information from multiple sources and draw logical
              conclusions.
            </li>
            <li>
              Bachelor’s degree or studies in Logistics, Business
              administration, Transportation, or supply chain management or in a
              related field would be helpful although not mandatory.
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        class="panel"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="header-panel">
          <mat-panel-title>
            Sales Admin (Location: West Vancouver)
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="padding: 24px">
          <p>
            Pods Health Inc. is one of the leading companies in the supply of
            Personal Protective Equipment (PPE) and other medical products,
            located at 100 Park Royal, West Vancouver, BC. We are a team of
            healthcare experts who collaborate and bring together a thorough
            knowledge of multiple sectors in the healthcare industry, including
            but not limited to medical supplies and manufacturing, supply chain,
            technology, clinical practice, analytics, population health, and
            care management.
          </p>
          <p>
            As a global leader, we provide a vast range of products and
            services, with an emphasis on quality of care at a reasonable price.
            We advise on numerous projects in the private and public sectors
            regarding state and national initiatives, providing clients with
            comprehensive and effective solutions. Leading through service with
            a spirit of collaboration and excellence, we partner with
            forward-thinking, innovative organizations that have the desire to
            improve our local and global communities through improvements in
            health outcomes.
          </p>
          <p>
            As a global leader, we provide a vast range of products and
            services, with an emphasis on quality of care at a reasonable price.
            We advise on numerous projects in the private and public sectors
            regarding state and national initiatives, providing clients with
            comprehensive and effective solutions. Leading through service with
            a spirit of collaboration and excellence, we partner with
            forward-thinking, innovative organizations that have the desire to
            improve our local and global communities through improvements in
            health outcomes.
          </p>
          <p>
            The company is currently looking for a talented and experienced
            Sales Administrator for its workplace.
          </p>
          <p>
            The Sales Administrator will report directly to the CEO of the
            Company and across various sectors of the market including but not
            limited to healthcare, education, industry, sports, and
            entertainment.
          </p>
          <p>
            The ideal candidate will be competent in healthcare sales,
            prioritizing and working with little supervision in a collaborative
            manner across the organization. He/she will undertake marketing
            tasks of the company supporting operations in North America. He/she
            will be self-motivated, trustworthy, and passionate about the role
            that contributes greatly to driving sustainable growth. An ability
            to inspire and motivate sales reps is essential.
          </p>
          <strong>Responsibilities</strong>
          <ul>
            <li>
                Process orders via email or phone
            </li>
            <li>
                Able to issue offers and manage sales enquiries*
            </li>
            <li>
                Check data accuracy in orders and invoices
            </li>
            <li>Contact clients to obtain missing information or answer queries</li>
            <li>
                Liaise with the Logistics department to ensure timely deliveries
            </li>
            <li>
                Maintain and update sales and customer records
            </li>
            <li>
                Develop monthly sales reports
            </li>
            <li>
                Communicate important feedback from customers internally
            </li>
            <li>
                Ensure sales targets are met and report any deviations
            </li>
            <li>Stay up-to-date with new products and features</li>
          </ul>
          <strong>Requirements</strong>
          <ul>
            <li>
                Proven work experience as a Sales administrator or Sales support agent
            </li>
            <li>Hands on experience with CRM software and MS Office (MS Excel in particular)</li>
            <li>
                Understanding of sales performance metrics
            </li>
            <li>Excellent organizational and multitasking skills</li>
            <li>
                A team player with high level of dedication
            </li>
            <li>
                Ability to work under strict deadlines
            </li>
            <li>
                Certification in Marketing, Sales or relevant field is a plus
            </li>
            <li>Excellent time management and organization skills.</li>
          </ul>
          <strong>Job Type: </strong>Permanent
          <strong>Salary: </strong> $40,000.00-$50,000.00 per year
          <p>Additional pay:</p>
          <p>Benefits:</p>
          <ul>
              <li>
                Dental care
              </li>
              <li>
                Extended health care
              </li>
              <li>
                Vision care
              </li>
          </ul>
          <p>Schedule:</p>
          <ul>
            <li>
                Monday to Friday
            </li>
        </ul>
        <p>Ability to commute/relocate:</p>
        <ul>
            <li>West Vancouver, BC: reliably commute or plan to relocate before starting work (preferred)</li>
        </ul>
        <p>Experience:</p>
        <ul>
            <li>Sales Admin: 1 year (preferred)</li>
        </ul>
        <p>Work remotely:</p>
        <ul>
            <li>No</li>
        </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
