<div class="login row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 login-card">
            <h1 style="user-select: auto;" class="">
                <strong style="user-select: auto;" class="">Welcome to Pods health CMS</strong> 
            </h1>
            <div class="login_Form" fxLayout="column" >
                <div class="logo_img">
                    <img src="assets/logos/POD_GIF.gif" alt="">
                    <div>
                        <h3> Login Dashboard </h3>
                    </div>
                </div>
                <div class="form-container">
                    <form>
                        <div fxLayout="row" style="margin-bottom: 16px;">
                            <span>
                               <mat-icon class="icon">person</mat-icon>
                            </span>
                            <input class="input-field" type="text" placeholder="Username" name="username" autocomplete="username"
                              formControlName="username"/>
                        </div>
                        <div fxLayout="row" style="margin-bottom: 16px;">
                            <span>
                               <mat-icon class="icon">key</mat-icon>
                            </span>
                            <input class="input-field" type="password" placeholder="Password" name="password" autocomplete="password"
                              formControlName="password"/>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
</div>