<div class="about-company">
  <div class="details">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10rem"  fxLayoutGap.lt-md="1rem">
      <div>
        <img src="assets/img/ceo.jpg" alt="" />
      </div>
      <div>
        <h2 class="text-dark title">CEO and Founder</h2>
        <p>
          Founded by Mr Deepak Poddar who studied medical Science at St Andrews
         
          University, and alongside his family, was a key supporter of India’s
          fastest
          growing FMCG Company Patanjali Ayurved Ltd.
        </p>
        <a
          href="https://www.linkedin.com/company/pods-group-ltd"
          target="_blank"
          ><button class="btn btn-outline-primary mt-3">LinkedIn</button></a
        >
      </div>
    </div>
  </div>
  <div class="details" style="margin-top: 5rem;">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10rem"   fxLayoutGap.lt-md="1rem">
      <div>
        <h2 class="text-dark title">ADITI PODDAR</h2>
        <strong>Board Member</strong>
        <p>
          Aditi was raised in Bangalore, India. She is an experienced Senior
          Manager  with a proven track record of improved quality and commercial
          performance  within the private health care sector and retail. Aditi is
          a strong team leader  who engenders a focused and committed team
          approach. She served as  Director of Lotus Senior Living and Little
          Einsteins Kindergarten, Scotland,  managing 2 Care Homes for the
          Elderly and 7 day nurseries for children. She  also served as Director
          of 2 packing companies in Haridwar, India (Flexipak  and PackmafPvt
          Ltd) and is a fashion designer who has retained a strong  passion and
          flair throughout her career.
        </p>
      </div>
      <div>
        <img src="assets/bgImg/aditi.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
