<div class="mob-height">
  <div class="align-title">
    <div class="caption">
      <h3>{{title}}</h3>
    </div>
  </div>
  <img
    [src]="_imgPath.getFilePath(bannerImg)"
    class="d-block w-100 bg-img"
    alt="..."
  />
</div>

<div class="para" fxLayout="column" fxLayoutGap="32px">
  <h3>We rise by lifting others</h3>
  <div class="philanthropy-text">
    <p>
      Pods Health believes that philanthropy has the power to transform
      healthcare and the lives of people around the world - not only through
      healthcare services and provisions and charity, but through proactive
      measures and efforts to combat healthcare, economic, and educational
      disparities.
    </p>
    <p>
      On that note, we look to grow our philanthropic efforts to create a larger
      impact on society and for people deprived of essential services and
      opportunities.
    </p>
    <p>
      Pods is actively engaged and fostering “African Dreams™ and “APF World”,
      both of which are not-for-profit organizations.
    </p>
    <p>
      African Dreams™ is founded by Sung Jun Kim, Young-Suk Suh, and Deepak
      Poddar to provide equitable healthcare and medical supplies for people
      living in West Africa. APF World is founded by Deepak Poddar and Aditi
      Poddar to provide education to orphans in India.
    </p>
  </div>
</div>

<!-- <div class="row mb-5">
  <div class="col-md-6 col-sm-3 cont-1">
    <img
      src="assets/img/africanDrms.png"
      style="margin-right: 32px"
      class="img-1"
      alt=""
    />
  </div>
  <div class="col-md-6">
    <img
      src="assets/img/foundation.png"
      class="img-1"
      style="margin-left: 32px"
      alt=""
    />
  </div>
</div> -->
<div fxLayout="row" class="image-div">
  <div fxLayout="column" style="float: right;">
    <img
      src="assets/img/africanDrms.png"
      class="img-1"
      alt=""
    />
  </div>
  <div fxLayout="column" style="float: left;">
    <img
      src="assets/img/foundation.png"
      class="img-1"
      alt=""
    />
  </div>
</div>

<div class="aboutBg">
  <div class="row main">
    <div class="col-md-6 about-text">
      <div class="about-container1">
        <h2>African Dreams</h2>
        <p>
          African Dreams has partnered with Pods health Ltd and HOLY
          Technologies Co., Ltd to source directly from world-class
          manufacturers. We are working hard to ensure that West Africa is well
          equipped to prevent the spread of infections and pathogens by
          promoting sufficient testing and the provision of personal protective
          equipment, as well as encouraging the restart of the local economy and
          international travel.
        </p>
      </div>
    </div>
    <div class="col-md-6 img-container">
      <img src="assets/bgImg/donate.png" alt="about" class="img-bg1" />
    </div>
  </div>
  <div class="row main">
    <div class="col-md-6 img-container2">
      <img src="assets/bgImg/apfWorld.png" alt="about" class="img-bg2" />
    </div>
    <div class="col-md-6 about-text">
      <div class="about-container2">
        <h2>APF World</h2>
        <p>
          Aditi Poddar Foundation was founded on June 29, 2011, by Aditi Poddar
          and Deepak Poddar. Aditi Poddar Foundation is a non-religious, non-
          political, not-for-profit foundation dedicated to providing education
          to orphans. The purpose of the Aditi Poddar Foundation is to empower
          underprivileged and orphan children through relevent educational,
          innovative healthcare, and market-focused livelihood progras. We
          provide a platform that unifies foundations and resources for orphans,
          victims of child abuse, abduction, homelessness, and child
          molestation, and community outrech programs from across the country.
        </p>
      </div>
    </div>
  </div>
</div>
